@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

html, body {
  height: 100% !important;
  /* background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 100%); */
}

button > #submit,
footer,
h1,h5{
  font-family: "Lobster", cursive;
}

.jumbotron{
  margin:0;
  padding: 20px;
  background-image: linear-gradient(to right, #5637DD, #3046C5, #60106B);
  color: white;
}

body{
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

footer{
  background-image: linear-gradient(to right, #5637DD, #3046C5, #60106B);
  color: white !important; 
  font-size: 1.2rem;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.navbar{
  background-color: #901CAD;
  padding: 0;
}

.navbar a.nav-link{
  color: white;
  font-size: 1.3rem;
}

.navbar a.dropdown-item{
  font-size: 1.3rem;
}

.navImg{
  height: 2.5rem;
}

.navbar-toggler {
  background-color: rgba(2, 2, 2, 0.15) !important;
}

.nav-link{
  padding-left: 0;
}
.navbar-toggler-icon {
  height: 3rem !important;
  width: 3rem !important;
}

h2 {
  padding: 0 0 2rem 0;
  text-align: center;
  margin: 0;
}

.answer{
  width: 1rem;
  height: 1rem;
}

.list-group-item{
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12);
  padding: 0 0 0 5px;
}

.list-group-item:hover{
  background-color: #f3f3f3;
}
.answer:checked{
  background-color: blue;
}

label{
  height: 100%;
  width: 91%;
  padding: 3% 0;
  margin: 0;
}

ul li {
  font-size: 1.1rem;
  margin: 0.5rem 0;
  padding: 0;
}

ul li label {
  cursor: pointer;
}
.quizContainer{
  margin: 0;
}
.quiz-header {
  padding: 3rem 5rem;
}

.quiz-container {
  background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 100%);
  border-radius: 10px;
  box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.1);
  margin: 2% auto 0 auto;
  -webkit-transform: scale(0.87);
     -moz-transform: scale(0.87);
          transform: scale(0.87);
}

.quiz-container > button {
  background-color: #901CAD !important;
  color: #fff !important;
  border: none !important;
  display: block !important;
  width: 100% !important;
  cursor: pointer !important;
  font-size: 1.8rem !important;
  font-family: "Lobster", cursive !important;
  padding: 1.3rem !important;
}

.quiz-container > button:hover {
  background-color: #3046C5 !important;
}

.quiz-container > button:focus {
  outline: none;
  background-color: #5e3370;
} /*